* {
    box-sizing: border-box;
}

body {
    font-family: 'segoe ui', sans-serif;
    font-size: 20px;
}

form {
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    padding: .2em .5em;
    width: 30em;
}

form > div {
    display: flex;
    align-items: center;
    padding: .2em 0;
}

form > div > * {
    flex: 1;
}

form > div > label {
    flex: 0 35%;
}

input {
    cursor: pointer;
    font-size: 100%;
}

progress {
    height: 1.3em;
}

button {
    cursor: pointer;
    font-size: 90%;
    margin-top: .5em;
    padding: .2em;
}

input[disabled],
button[disabled] {
    cursor: not-allowed;
}

table {
    border: solid 1px #ccc;
    width: 100%;
}

table th {
    text-align: left;
    width: 50%;
}

table td {
    text-align: center;
    width: 50%;
}
